<div class="card bg-transparent border-0 m-3" *ngIf="post">
  <div class="card-body">
    <h3 class="card-title text-primary">{{post.title}}</h3>
    <p class="card-text text-dark">{{post.body}}</p>
  </div>
  <div calss="card-body">
    <ng-container *ngIf="comments">
      <div class="comment bg-light bd-callout rounded shadow-sm m-3 p-3" *ngFor="let comment of comments; let even = even; let odd = odd"
        [ngClass]="{ 'odd mr-5': even, 'even ml-5': odd }">
        <p>{{comment.name}}</p>
        <p>{{comment.email}}</p>
        <p>{{comment.body}}</p> 
      </div>
    </ng-container>
  </div>
</div>
