<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-inline-block" routerLink="/" routerLinkActive="active">Home</a>
        <a class="py-2 d-inline-block" routerLink="/posts" routerLinkActive="active">Posts</a>
        <a class="py-2 d-inline-block" routerLink="#" routerLinkActive="active">Comments</a>
        <a class="py-2 d-inline-block" routerLink="#" routerLinkActive="active">Albums</a>
        <a class="py-2 d-inline-block" routerLink="#" routerLinkActive="active">Photos</a>
        <a class="py-2 d-inline-block" routerLink="#" routerLinkActive="active">Todos</a>
        <a class="py-2 d-inline-block" routerLink="#" routerLinkActive="active">Users</a>
    </div>
</nav>